mixin deviceObject(arr, imgType)
  .col-md-6.col-sm-6.col-xs-12.device-container(data-ng-repeat="device in #{arr}")
    .inner-device-container
      img(src="{{device.icon}}", alt="{{device.type}} Icon", width="128", height="128", class="device-icon #{imgType}")
      .device-info
        h4.device-name {{device.name}}
        p
          sub {{device.manufacturer}}
        p.hidden-xs.hidden-sm
          small
            strong Device Type:&nbsp;
            |{{device.type}}
        p.hidden-xs
          small 
            strong Battery Status:&nbsp;
            |{{device.batteryStatus}}

doctype html
html(lang="en", data-ng-app="deviceManager")
  head
    title Uzel v0.0.1 | Device Manager
    link(rel="stylesheet", href="/bower_components/bootswatch/yeti/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")  
    link(rel="stylesheet", href="/css/dm.css")  
    script(src='/bower_components/angular/angular.min.js')
    script(src='/js/device_manager.js')
  body(data-ng-controller="DeviceController")
    include ./_navigation.jade
    +nav("/", "Home", "Device Manager")
    .container
      h2.caption Paired Devices
      .row
        +deviceObject("pairedDevices", "device-paired")
      h2.caption Unpaired Devices
        a(href="#").glyphicon.glyphicon-refresh.refresh-unpaired
      .row
        +deviceObject("unpairedDevices", "device-unpaired")
      br
      br  