doctype html
html(lang="en", data-ng-app="settings")
  head
    title Uzel | Settings
    link(rel="stylesheet", href="/bower_components/bootswatch/yeti/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css") 
    link(rel="stylesheet", href="/css/settings.css")  
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/js/settings.js')
  body
    include ./_navigation.jade
    +nav("/", "Home", "Settings")
    .settings-nav.hidden-xs
      ul.nav.nav-pills.nav-stacked
        li.active
          a(href="#/general") General
        each device in devices
          li
            a(href="#/device/#{device.id}") #{device.name}
    .settings-panel(data-ng-view)
