doctype html
html(lang="en", data-ng-app="dashboard")
  head
    title Uzel | Dashboard
    link(rel="stylesheet", href="/bower_components/bootswatch/yeti/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/dashboard/css/index.css") 
    script(src='/bower_components/es6-shim/es6-shim.js')
    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/bower_components/angular-socket-io/socket.min.js')
    script(src='/dashboard/js/dashboard.js') 
  body(data-ng-controller="DashboardController")
    include ../../../../views/_navigation.jade
    +nav("/", "Home", "Dashboard")
    .container.dashboard-wrapper
      .row
        .col-md-4.col-sm-6.col-xs-12(data-ng-repeat="device in monitoredDevices")
          .device-info-board
            p.board-heading {{device.name}}
            p.board-data {{device.value}}
            .board-controls
              a(href="#").glyphicon.glyphicon-cog 
              | &nbsp;&nbsp;&nbsp;&nbsp;
              a(href="#", data-ng-click="updateDevice(device)").glyphicon.glyphicon-refresh 
              a(href="#", data-ng-click="removeDevice(device)").glyphicon.glyphicon-remove.pull-right.remove-device  
        .col-md-4.col-sm-6.col-xs-12(data-ng-switch data-on="addingDevice")
          .add-device.add-dev-animate(data-ng-click="$parent.addingDevice = true", data-ng-switch-default)
            p.glyphicon.glyphicon-plus.add-btn
            p.add-label Add Device
          .device-selector.add-dev-animate(data-ng-switch-when="true")
            form
              .form-group
                label.add-dev-label(for="device-type") Device Type
                select#device-type.form-control(data-ng-model="$parent.deviceType", data-ng-change="selectDeviceType()", data-ng-options="devType.name for devType in deviceTypes")
                  option(value="") Select device type
              .form-group
                label.add-dev-label(for="device-selector") Device
                select#device-selector.form-control(data-ng-model="$parent.deviceToAdd", data-ng-options="dev.name for dev in availableDevices")
                  option(value="") Select a device
              br    
              .form-group
                span.btn.btn-confirm.pull-left.btn-size(data-ng-click="addDevice()") Add
                span.btn.btn-cancel.pull-right.btn-size(data-ng-click="resetAddForm()") Cancel   